:host {
  display: flex;
  height: 100%;
  padding: 16px;
  table {
    height: fit-content;

    tr {
      &.mat-mdc-footer-row td {
        font-weight: bold;
      }
    }
  }
  .no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    button {
      margin-top: 16px;
    }
  }
}
